<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include partials/css -%>
    <title><%= title %></title>

</head>
<body>
    <div class="well">
        <h4>Learning a new framework can be daunting, but it's also exciting. To smooth your transition, we've attempted to create very clear, concise documentation for BigBug. Here are some recommendations for what to read first:</h4>
    </div>    

</body>
</html>
